
@font-face {
  font-family: "WickedGrit";
  src: url(WickedGrit.eot) format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WickedGrit";
  src:  url(WickedGrit.woff) format("woff"), url(WickedGrit.ttf)  format("truetype"), url(WickedGrit.svg#WickedGrit) format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "EdoSZ";
  src: url(EdoSZ.eot) format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EdoSZ";
  src:  url(EdoSZ.woff) format("woff"), url(EdoSZ.ttf)  format("truetype"), url(EdoSZ.svg#EdoSZ) format("svg");
  font-weight: normal;
  font-style: normal;
}





